/* MNEMONIC COMPONENT*/

/* MNEMONIC COMPONENT END!*/

/* CREATE MNEMONIC COMPONENT*/
.createMnemonic {
    margin: 20px auto;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.mnemonicInput {
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    color: black;
    outline: none;
    margin: 5px 0 10px 0;
    width: 90%;
    box-sizing: border-box;
    font-size: 24px;
    border-bottom: 1px solid darkgrey;
    padding: 12px 5px 5px 5px;

}
.mnemonicInput::placeholder {
    color: gray;
    font-size: 14px;
    font-style: italic;
}
.addMnemoBox{
    position: relative;
    display: flex;
}
.addMnemonicButton:hover ~ .addMnemo{
    display: block;
}
.addMnemo{
    display: none;
    position: absolute;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    left: 60px;
    opacity: 0.6;
    top: 15px;
}
.loadMnemonic{
    margin: 0 auto 10px;
    box-shadow: 0.5px 0.5px 2px 1px lightgrey;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}
.loadMnemonic:hover{
    background-color: rgba(171, 220, 255, 0.3);
}
.addMnemonicButton {
    margin: 10px 0 0 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgba(171, 220, 255, 0.9);
    padding: 5px 11px;
    border-radius: 50%;
}

.addMnemonicButton:hover{
    background-color: rgba(171, 220, 255, 0.3);
}


.buttonStyle {
    text-align: center;
    width: 30%;
    margin: 15px auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 5px;
    color: black;
    background-color: rgba(171, 220, 255, 0.7);
    border: 0;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
}
.buttonStyle:hover {
    background-color: rgba(171, 220, 255, 0.3);
}
.closeButtonBox {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    height: 15px;
}
.closeButtonBox svg {
    fill: #666666;
}
.closeButtonBox svg:hover {
    fill: black;
    cursor: pointer;
}
/* CREATE MNEMONIC COMPONENT END!*/

/* SEPARATE LETTER COMPONENT */
.whitespace {
    margin: 10px;
}
.separatedLetter {
    display: inline-block;
    width: 35px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    cursor: pointer;
    text-align: center;
}

.separatedLetterActive {
    background-color: #cccccc;
    font-weight: bold;
}

.colorHighlight{
    color: rgba(171, 220, 255, 1);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}
/* SEPARATE LETTER COMPONENT END!*/

/* UPDATE MNEMONIC COMPONENT*/
.updateMnemonic {
    margin: 0 auto;
}
.closeButtonBox svg {
    fill: #666666;
}
.closeButtonBox svg:hover {
    fill: black;
    cursor: pointer;
}
.updateButton {
    text-align: center;
    width: 30%;
    margin: 15px auto 0 auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 5px;
    color: black;
    background-color: rgba(171, 220, 255, 0.7);
    border: 0;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
}
.updateButton:hover {
    background-color: rgba(171, 220, 255, 0.3);;
}

.errorMessage {
    font-size: 15px;
    text-align: center;
    color: #A52A2A;
    margin: 0 0 10px;
}
/* UPDATE MNEMONIC COMPONENT END!*/

.transContainer {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.transContainer li {
    display: inline-block;
}
.transliteration{
    margin: 5px;
    font-size: 13px;
    color: silver;
}

.myTransliteration{
    margin: 5px;
    font-size: 13px;
    color: #666666;
}
