@import "../common.module";
.practiceContainer{
  width: 60%;
  margin: 30px auto;
}
.headerBox{
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
}
.practiceHead{
  font-size: 25px;;
  color: $colorIconAndPlaceholder;
}
.instructionIcon{
  width: 20px;
  fill: #48CAE4;
  margin: 0 0 0 5px;
  cursor: pointer;
  align-items: center;
}
.instructionBox {
  height: 30px;
}
.instruction {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: $colorDimText2;
}
.practiceBox{
  margin: 30px auto;
}
.sentenceBox{
  position: relative;
}
.sentence{
  font-size: 25px;
  text-align: center;
  color: $colorFont;
}
.wordTranslate{
  cursor: pointer;
}
.mnemonicPart{
  color: $colorHighlightMnemo;
}
.sentenceBoxF1 {
  display: inline-flex;
}
.underlineMnemo{
  color: $colorHighlightMnemo;
}
.keyBox{
  display: flex;
  justify-content: center;
  margin: 5px 0 0 0;
}
.keyIcon{
  width: 15px;
  margin: 0 5px 0 0;
  fill: $colorIconAndPlaceholder;
  cursor: pointer;
    &:hover{
      fill: $colorIconHover;
    }
}
.count{
  color: $colorIconAndPlaceholder;
}
.promptBox{
  display: flex;
  margin: 10px auto 0;
  justify-content: center;
  text-align: center;

}
.prompt{
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: $colorHighlightMnemo;
  font-weight: bold;
  position: absolute;
  left: 45%;
}
.inputContainer{
  width: 90%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
}
.inputBox{
  margin: 30px 0;
  position: relative;
}
.inputName{
  text-align: center;
  margin: 0 0 5px 0;
  color: $colorDimText2;
  position: relative;
}
.sound{
  position: absolute;
  left: 60%;
  bottom: -3px
}
.inputPractice{
  @include inputStyle;
}
.inputPracticeError{
  color: $colorRed;
  border-bottom:  1px solid $colorRed;
}
.inputPracticeCorrect{
  @include inputStyle;
  color: #3DB39E;
  border-bottom:  1px solid #3DB39E;
}
.transcription{
  color: $colorDimText2;
  position: absolute;
  bottom: -25px;
  left: 42%;
}
.practiceButton{
  @include buttonStyle;
}
.practiceButton:active {
  transform: translateY(4px);
}
.iconResultBox{
  display: flex;
  align-items: center;
}
.rightIcon{
  width: 30px;
  margin: auto;
}

.notice{
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
  color: $colorFont;
  padding: 10px;
}
.noticeInstr{
  font-size: 15px;
  margin: 10px;
}
@media all and (max-width: 600px){
  .practiceContainer {
    width: 95%;
  }
  .instruction{
    font-size: 12px;
    width: 100%;
  }
  .inputContainer{
    display: block;
  }
  .inputPractice{
    display: flex;
    width: 90%;
    margin: auto;
  }

}