@import "../common.module";

@mixin styles {
    border: 1px solid $colorBorderButtons;
    background: none;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    margin: 5px auto;
    font-size: 15px;
    color: $colorFont;
}
.closeButtonBox {
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    height: 12px;
}
.closeButtonBox svg:hover {
    fill: $colorBorderButtons;
    cursor: pointer;
}

.text{
    padding: 10px 5px;
    text-align: center;
    font-size: 15px;
}

.deleteButton {
    font-size: 12px;
    text-align: center;
    width: 30%;
    margin: 5px auto;
    padding: 5px 1px;
    border: 1px solid $colorBorderButtons;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: #122B5A;
}
.nickNameModalBox{
    padding: 5px;
    font-size: 15px;
    background-color: var(--background-color);
}
.profileModalText{
    font-size: 20px;
    color: $colorFont;
    text-align: center;
}

.emailModal{
    text-align: center;
    margin: 30px 0 10px 0;
    font-size: 13px;
    color: $colorFont;
}
.email{
   @include styles
}
.nickNameModal{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 13px;
    color: $colorFont;
}

.inputProfileModal{
    @include styles;
    outline: none;
    text-align: center;
}
.errorMessage{
    font-size: 12px;
    color: $colorRed;
    text-align: center;
}

.buttonProfileModal{
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: $colorBackgroundButton2;
    width: 50%;
    text-align: center;
    cursor: pointer;
    color: #122B5A;
}
.buttonProfileModal:hover{
    background-color: $colorBackgroundButton1;
}