@import "../common.module";
$border: none;
@mixin element ($color){
  text-align: center;
  padding: 10px;
  font-size: 19px;
}

.animationContainer{
  padding: 20px 0;
  font-size: 18px;
}

@keyframes example {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.mnemoTechnicElement1{
  @include element(#CAF0F8);
  animation-delay: 0.1s;
  transition-property: opacity;
  transition-duration: 1s;
  animation-name: element;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards
}
@keyframes element {
  from {opacity: 0}
  to {opacity: 1}
}
.mnemoTechnicElement2{
  @include element(#90E0EF);
  animation-delay: 1.5s;
  transition-property: opacity;
  transition-duration: 1s;
  animation-name: element;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards
}
.mnemoTechnicElement3{
  @include element(#48CAE4);
  animation-delay: 3s;
  transition-property: opacity;
  transition-duration: 1s;
  animation-name: element;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards
}
.mnemoTechnicElement4 {
  @include element(#0096C7);
  animation-delay: 4.5s;
  transition-property: opacity;
  transition-duration: 1s;
  animation-name: element;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards
}
.instr{
  font-size: 13px;
  text-align: center;
  color: $colorBorderButtons;
}
.elementsInLine{
  display: flex;
  margin: 0 auto 20px;
  align-items: center;
}
.words{
  width: 39%;
  font-size: 19px;
}

.engWord{
  cursor: pointer;
  padding: 25px;
  display: flex;
  justify-content: center;
    div:hover{color: $colorHighlightTranslation;}
}
.engWordBold{
  color: $colorHighlightTranslation;
}
.iconRepeat{
  width: 30px;
  cursor: pointer;
  fill: $colorBorderButtons;
  margin: 0 auto;
}

.headers{
  width: 90%;
  display: flex;
  font-size: 15px;
  color: $colorDimText3;
  margin: auto;
  align-items: center;
}
.headColumn{
  width: 30%;
  text-align: center;
}

.iconBrain{
  margin: 22px 0;
  width: 25%;
  fill: #48CAE4;
  padding: 20px 0;
}
.iconBrainWithAnimation{
  margin: 22px 0;
  width: 25%;
  fill: #48CAE4;
  padding: 20px 0;
  position: relative;
  animation-name: brain;
  animation-duration: 1.75s;
  animation-direction:normal;
  animation-iteration-count: infinite;
}
@keyframes brain {
  0%   {fill: #ADE8F4; }
  25%  {fill: #48CAE4; }
  50%  {fill: #0077B6; }
  75%  {fill: #48CAE4; }
  100% {fill: #ADE8F4; }
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.mnemoTechnic{
  width: 39%;

}


@media all and (max-width: 600px){
  .elementsInLine{
    display: block;
  }
  .words{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .engWord{
    padding: 0 10px 0;
  }
  .iconBrain{
    width: 40%;
    margin: 0 auto 10px;
  }
  .iconBrainWithAnimation{
    width: 40%;
    margin: auto;
  }
  .mnemoTechnic{
    margin: 10px auto;
    width: 100%;
    height: 25vh;
    div {
      margin: 0;
    }
  }
  .iconRepeat{
    width: 30px;
  }
  .headColumn{
    display: none;
  }
}
