@import "../common.module";
@mixin slideText ($width) {
    width: $width;
    display: flex;
    align-items: center;
}
@mixin slideBox ($display, $width, $marg){
    display: $display;
    width: $width;
    margin: $marg;
}
@mixin textSlide {
    color: $colorBlueFive;
    text-align: center;
    font-size: 17px;
}
@mixin slideImage ($width) {
    width: $width;
    img {
        box-shadow: 1px 1px 5px 3px var(--shadow);
    }
}
.startPage {
    width: 70%;
    margin: auto;
}
.initText {
    margin: 100px auto;
}
.h{
    margin: 30px auto;
    width: 30%;
}

.instruction{
    color: $colorBlueFive;
    line-height: 2;
    text-align: justify;
    margin: 20px;
    text-indent: 40px;
    font-size: 17px;
}
.text {
    line-height: 2;
    text-align: center;
    text-align-last: center ;
    color: $colorBlueFive;
    font-size: 18px;
}
.buttonBack{
    width: 50px;
    fill: $colorBlueThree;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
        fill: $colorBlueTwo;
    }
}

.howBtn {
    @include buttonStyle;
    margin: 30px auto;
}
.carousel{
    margin: 20px auto 30px;
}

.animatedTutorialBox{
    display: block;
}
.firstSlideBox {
    margin: 0 0 50px 0;
}
.slide1Text{
    @include textSlide;
    margin: 10px;
}
.slade1Image{
    @include slideImage (100%);
    display: flex;
    img {
        width: 50%;
        margin: 10px auto;
    }
}

.secondSlideBox {
    @include slideBox(flex, 100%, auto)
}
.secondSlideImage {
    width: 50%;
}
.secondSlideText {
    @include slideText (50%)
}
.sladeImage{
    @include slideImage (100%);
    display: flex;
    img {
        width: 100%;
        margin: 10px auto;
    }
}
.thirdSlideBox {
    @include slideBox(flex, 100%, 70px auto)
}
.thirdSlideText {
    @include slideText (60%)
}
.thirdSlideImage {
    @include slideImage (50%);
}

.colorHighlight{
    color: $colorBlueFour;
    font-weight: bold;
    text-shadow: $textShadow;
}
.fourthSlideBox {
    @include slideBox(flex, 100%, 70px auto)
}

.slideText{
    @include textSlide;
    padding: 20px;
}
.fourthSlideText {
    @include slideText (50%)
}
.fourthSlideImage {
    @include slideImage (50%);
}

.fifthSlideBox {
    @include slideBox(flex, 100%, 70px auto)
}
.fifthSlideText {
    @include slideText (50%)
}
.fifthSlideImage {
    @include slideImage (50%);
}




@media all and (max-width: 600px) {
    .startPage{
        width: 90%;
    }
    .initText{
        margin: 30px auto;
    }
    .howBtn{
        width: 50%
    }
    .text{
        font-size: 17px;
    }
    .instruction{
        font-size: 15px;
    }
    .h{
        width: 50%;
    }
    .firstSlideBox{
        margin: 0 auto 20px ;
    }
    .secondSlideBox{
        @include slideBox(block, 100%, auto)
    }
    .secondSlideImage{
        width: 80%;
        margin: 10px auto;
    }
    .secondSlideText{
        width: 100%;
    }
    .thirdSlideBox{
        @include slideBox(block, 100%, auto)
    }
    .thirdSlideText{
        width: 100%;
    }
    .thirdSlideImage{
        width: 80%;
        margin: 10px auto;
    }
    .fourthSlideBox{
        @include slideBox(block, 100%, auto)
    }
    .fourthSlideImage{
        width: 80%;
        margin: 10px auto;
    }
    .fourthSlideText{
        width: 100%;
    }
    .fifthSlideBox{
        @include slideBox(block, 100%, auto)
    }
    .fifthSlideText{
        width: 100%;
    }
    .fifthSlideImage{
        width: 80%;
        margin: 10px auto;
    }
}