$color-default: black;
$colorHover: #e6f7ff;
$colorBackgroundButton1: #cdefff;
$colorBackgroundButton2: #b3e7ff;
$colorBackgroundModal: #f5f5f5;
$colorHighlightText: #606060;
$colorHighlightTranslation: #1ea1c3;
$colorDimText: #cccccc;
$colorDimText2: #bdbdbd;
$colorDimText3: #A0A0A0;
$colorDimText4: #606060;
$colorBorderBright: lightslategray;
$colorIconDim: #A0A0A0;
$colorIconHoverDim: #cccccc;
$shadow: var(--shadow);
$shadowImg: var(--shadowImg);
$addButton: var(--add-button);
$colorBorderButtons: var(--border-buttons);
$colorBorderBottom: var(--border-bottom);
$borderRadius: var(--border-radius);
$colorTextHeader: var(--color-text-header);
$colorFont: var(--font-color);
$borderMobile: var(--borderBottom-mobile);
$colorHighlightMnemo: var(--highlight-mnemo);
$colorIconAndPlaceholder: var(--color-icon);
$colorIconHover: var(--color-icons-hover);
$inputBackground: var(--nav-input-background);
$listBackground: var(--list-background);
$colorRed: var(--errorColor);
$textShadow: none;


@mixin componentStyle {
  padding: 10px 25px 15px 25px;
  border-bottom: 1px solid $colorBorderBottom;
  margin: 10px 0;
}
@mixin buttonStyle {
  text-align: center;
  width: 30%;
  margin: 15px auto;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 5px;
  color: $color-default;
  background-color: $colorBackgroundButton2;
  border: none;
  cursor: pointer;
    &:hover {
      background-color: $colorBackgroundButton1
  }
}
@mixin header {
  margin: 10px auto 0;
  font-size: 25px;
  color: $colorFont
}
@mixin addButton {
  margin: 10px 0 0 20px;
  cursor: pointer;
  font-size: 20px;
  color: #122B5A;
  background-color: $addButton;
  padding: 5px 11px;
  border-radius: 50%;
    &:hover{
      background-color: $colorBackgroundButton1;
    }
  &:hover ~ .addTooltip{
    display: block;
  }
}
@mixin load {
  margin: 0 auto 10px;
  padding: 5px;
  font-size: 13px;
  color: #122B5A;
  text-align: center;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
  background-color: $colorBackgroundButton1;
    &:hover {
      background-color: $colorBackgroundButton2;
    }
}
@mixin create {
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  border: 1px solid $colorDimText2;
  border-radius: 5px;
}

@mixin inputStyle {
  text-align: center;
  border: none;
  outline: none;
  background-color: $inputBackground;
  border-radius: $borderRadius;
  box-sizing: border-box;
  font-size: 24px;
  border-bottom: 1px solid darkgrey;
}
@mixin addBox {
  position: relative;
  display: flex;
  margin: 10px 0 0 0;
}
@mixin inputAndSearch ($color) {
  position: relative;
  width: 400px;
  margin: 0 auto 10px;
  background: none;
  border-bottom: 1px solid $color;
}
@mixin toolTip {
  display: none;
  position: absolute;
  font-size: 12px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  left: 60px;
  opacity: 0.6;
  top: 15px;
  color: $colorIconAndPlaceholder;
}

@mixin items {
  cursor: pointer;
  margin: 5px 2px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 15px;
  color: $colorFont;
    &:hover{
      background-color: $listBackground;
    }
}
@mixin textItem ($size, $weight) {
  font-size: $size;
  text-align: left;
  font-weight: $weight;
  color: $colorFont;
}
@mixin translitText ($color) {
  margin: 5px;
  font-size: 13px;
  color: $color;
}

@mixin highlightMnemo {
  font-weight: bold;
  color: $colorHighlightMnemo;
  text-shadow: $textShadow
}
@mixin date {
    font-size: 13px;
    color: $colorDimText2;
    text-align: center;
    display: flex;
    margin-left: auto;

}
@mixin select {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}
@mixin iconsBox {
  display: flex;
  padding: 5px;
  border: 1px solid $colorBorderButtons;
  margin: 10px 0 0 5px;
  border-radius: 10px;
  align-items: center;
  svg {
    fill: $colorIconAndPlaceholder;
  }
    &:hover svg {
      fill: $colorIconHover
    }
}

@mixin buttonIcons {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  justify-content: end;
  font-size: 10px;
    svg {
      padding: 0 4px;
      width: 20px;
    }
}
@mixin iconsContainer{
  display: flex;
  align-items: center;
}
@mixin name {
  color: $colorTextHeader;
}
@mixin like {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  justify-content: end;
  font-size: 10px;
  align-items: flex-start;
  svg {
    width: 20px;
    fill: $colorIconAndPlaceholder
  }
}
@mixin count {
  font-size: 16px;
  padding: 0 4px;
  color: $colorTextHeader;
}

@mixin form ($color1, $color2) {
  text-align: center;
  width: 200px;
  margin: 15px auto;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: $color1;
  border: 0;
  color: #122B5A;
  box-shadow: 1px 1px 2px lightslategrey;
  cursor: pointer;
    &:hover{
      background-color: $color2;
    }
}

@mixin animation {
  transition-delay: 0.5s;
  transition-property: opacity;
  transition-duration: 1s;
  animation-name: example;
  animation-duration: 3s;
  opacity: 1;
}



.closeButtonBox {
  display: flex;
  justify-content: flex-end;
  height: 15px;
}
.closeButtonBox svg {
  fill: $colorIconAndPlaceholder;
}
.closeButtonBox svg:hover {
  fill: $color-default;
  cursor: pointer;
}