@import "../common.module";
@mixin textStyle ($size, $color, $align) {
  font-size: $size;
  color: $color;
  text-align: $align;
}

.engWordContainer {
  padding: 10px 10px 25px 10px;
  width: 50%;
  margin: 0 auto;
}

.engWordComponent {
  padding: 10px 0;
}

.engWord {
  @include textStyle (30px, black, left);
  color: $colorTextHeader;
  padding: 10px 10px 0 10px;
  font-weight: bold;
}

.word {
  font-style: oblique;
  font-size: 16px;
  color: $colorTextHeader;
}
.transcriptionsBox{
  display: flex;
  margin: 0 10px 10px;
  font-size: 17px;
}
.transcriptionsContainer{
  display: flex;
  margin: 0 0 10px 0;
}
.transcriptions{
  display: block;
  margin: 0 10px 0 0;
}
.location{
  display: flex;
  align-items: end;
  font-size: 12px;
  margin: 0 2px 0 0;
  color: $colorDimText2;
}
.transcriptionWord {
  color: $colorDimText2;
}
.iconAudio svg {
  width: 15px;
  fill: $colorIconDim;
  cursor: pointer;
  margin: 0 5px 0;
}
.iconAudio svg:hover {
  fill: $colorIconHoverDim;
}
.transliter{
  display: flex;
  font-size: 12px;
  justify-content: center;
  color: lightsteelblue;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%)
}
.transl{
}

.exampleNone {
  color: grey;
  font-size: 16px;
  margin: 20px 0 10px;
}
.nav {
  text-align: center;
}
.translate {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid $colorBorderBottom;
}
.translateWord {
  margin: 0 0 15px 15px;
  font-size: 18px;
  font-style: italic;
  color: $colorFont;
}
.transIcon svg{
  width: 15px;
  margin: 0 10px;
  cursor: pointer;
  fill: $colorIconAndPlaceholder;
}
.transIcon svg:hover{
  fill: $colorIconHover;
}


//MOBILE

@media all and (max-width: 600px){
  .engWordContainer{
    width: 95%;
  }
  .engWordComponent{
    padding: 5px 0;
  }
}


