.engWordContainer {
    padding: 10px 10px 25px 10px;
    width: 50%;
    margin: 0 auto;
}

.engWordComponent {
    padding: 10px 0;
}
.dateFormat{
    display: flex;
    margin-left: auto;
    color: #bdbdbd;
    font-size: 13px;
    align-items: center;
}
.engWord {
    padding: 10px 10px 0 10px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.word {
    font-style: oblique;
    font-size: 16px;
}
.transcriptionsBox{
    display: flex;
    margin: 0 10px 10px;
    font-size: 17px;
}

.transcriptions{
    display: inline-flex;
    margin: 0 10px 0 0;
    align-items: end;
}
.location{
    font-size: 12px;
    margin: 0 2px 0 0;
    color: #bdbdbd;
}
.transcriptionWord {
    color: #A0A0A0;
}
.iconAudio svg {
    width: 15px;
    fill: #A0A0A0;
    cursor: pointer;
    margin: 0 5px 0;
}
.iconAudio svg:hover {
    fill: #666666;
}
.exampleNone {
    color: grey;
    font-size: 16px;
    margin: 20px 0 10px;
}
.nav {
    text-align: center;
}
.translate {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(171, 220, 255, 0.8);
}
.translateWord {
    margin: 0 0 15px 15px;
    font-size: 18px;
    font-style: italic;
}
.mnemonicComponent {
    padding: 10px 25px 15px 25px;
    border-bottom: 1px solid rgba(171, 220, 255, 0.8);
}
.highlightWord {
    text-align: left;
    font-size: 17px;
}

.accuracy {
    color: lightsteelblue;
    padding: 0 10px 0;
    align-items: center;
    display: flex;
    font-size: 15px;
}
.mnemo {
    font-size: 24px;
    text-align: left;
    font-weight: 400;
}

.author {
    font-size: 15px;
    margin: 5px 0 0;
    font-style: normal;
    color: #bdbdbd;
}
.mnemonicBottom {
    display: flex;
}

.buttonIcons {
    display: flex;
    cursor: pointer;
    margin-left: auto;
    justify-content: end;
    font-size: 10px;
}
.likeIcon {
    display: flex;
    cursor: pointer;
    margin-left: auto;
}

.likeIcon svg,
.buttonIcons svg {
    padding: 0 4px;
    width: 20px;
}

.likeCountContainer {
    display: table;
}
.likeCount {
    display: table-cell;
    vertical-align: middle;
}
.trans {
    font-style: italic;
    font-size: 16px;
    text-align: left;
}

.boldIconBox {
    display: flex;
    padding: 5px;
    border: 1px solid #DCDCDC;
    margin: 10px 0 0 5px;
    border-radius: 10px;
    align-items: center;
}
.boldIconBox svg {
    fill: #666666;
}
.boldIconBox:hover svg {
    fill: #282828
}
.iconContainer{
    display: flex;
    align-items: center;
}



