@import "../common.module";

.footerContainer{
  display: flex;
  margin: 0 0 10px 0;
  justify-content: end;
  font-size: 12px;
  color: $colorDimText2;
}

.mail{
  padding: 0 0 0 10px;
}
.vkLink{
  margin: 0 10px 0;
  color: $colorDimText2;
  text-decoration: none;
  text-align: center;
}

.confidBox{
  display: flex;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.confid{
  margin: 0 10px 0 0;
}
.confid:hover{
  color: $colorDimText3;
}
.agreement:hover{
  color: $colorDimText3;
}