.user {
    width: 60%;
    display: flex;
    margin: 30px auto;
    /*border-bottom: 1px solid #cccccc;*/
}
.text {
    margin: 10px auto 0;
    font-size: 25px;
    color: #122B5A;
}
.message{
    font-size: 20px;
    text-align: center;
    color: #122B5A;
}
.search {
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.inputAndIconSearch {
    position: relative;
    width: 400px;
    margin: 0 auto 10px;
    background: white;
    border-bottom: 1px solid lightgray;

}
.searchIcon,
.searchMyMnemo  {
    border: none;
    outline: none;
    background: transparent;
}
.searchMyMnemo{
    width: 100%;
    height: 42px;
}
.searchIcon {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    margin: 5px 5px 0;
    fill: #666666;
}

.userContainer {
    padding: 10px;
    width: 45%;
    margin: 30px auto;
    border-bottom: 1px solid rgba(171, 220, 255, 0.8);
}
.engWordBox{
    display: flex;
    align-items: center;
}

.engWord {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.transcriptionsAudio{
    display: flex;
    margin: 0 5px;
}

.translations {
    display: flex;
    font-size: 15px;
    color: darkgrey;
    padding: 0 0 5px;
}
.myMnemonicBox {
    display: flex;
}
.myMnemonic {
    padding: 5px 0 5px;
    font-size: 22px;
}
.icons{
    display: flex;
    margin-left: auto ;
}
.icons svg {
    padding: 0 4px;
    width: 17px;
    fill: #666666;
}
.icons svg:hover{
    fill: black;
}
.likeCount {
    padding: 0 0 0 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
}
.likeIcon svg {
    fill: #666666;
}
.likeIcon svg g path {
    fill: #666666;
}
.boldIcon {
    cursor: pointer;
    fill: #666666;
}

.trash {
    cursor: pointer;
    fill: #666666;
}
.myExampleBox{
    display: flex;
}

.myExample{
    padding: 5px 0;
    font-size: 16px;
    font-weight: 300;
    /*font-style: italic;*/
}
.exampleFormat{
}
.inputExample textarea {
    margin: 5px 0 10px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: black;
    border-bottom: 1px solid darkgrey;
    font-size: 20px;
    text-align: center;
    
}
.inputExample textarea::placeholder {
    font-size: 14px;
    font-style: italic;
}


/*Add My Example*/

.addEx{
    position: relative;
    display: flex;
}
.buttonStyle:hover ~ .prompt{
    display: block;
}

.prompt{
    display: none;
    position: absolute;
    text-align: center;
    margin: auto;
    font-size: 12px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.6;
    left: 45px;
}

.buttonStyle{
    width: 5%;
    cursor: pointer;
    margin: 0 0 0 15px;
}
.buttonStyle svg {
    fill: #666666;
}
.buttonStyle svg:hover {
    fill: black;
}
.closeButtonBox{
    display: flex;
    justify-content: flex-end;
    height: 15px;
    cursor: pointer;
}
.saveButtonStyle {
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(171, 220, 255, 0.7);
    width: 25%;
    text-align: center;
    box-shadow: 1px 1px 2px lightslategray;
    border-radius: 10px;
    margin: 15px auto 5px auto;
}
.saveButtonStyle:hover{
    background-color: rgba(171, 220, 255, 0.3);
}

.addMyExample {
    text-align: center;
    width: 30%;
    margin: 5px auto 5px auto;
    font-size: 15px;
    border-radius: 10px;
    padding:  5px;
    color: black;
    background-color: rgba(171, 220, 255, 0.7);
    border: 0;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
}
.addMyExample:hover{
    background-color: rgba(171, 220, 255, 0.3);
}

.chooseTranslationHeader {
    margin: 10px 0 5px 0;
    font-size: 14px;
    font-style: italic;
    color: #bdbdbd;
}
.translationSelect {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.translationSelect li {
    display: inline-block;
}
.hasMoreBox {
    display: flex;
    margin: 10px auto 10px;
}

.hasMoreBtn {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 2px 0.5px lightgrey;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.hasMoreBtn:hover{
    background-color: rgba(171, 220, 255, 0.3);
}
