@import "../common.module";
.user {
    width: 60%;
    display: flex;
    margin: 30px auto;
}
.text {
    @include header
}
.message{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: $colorFont;
}
.search {
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.inputAndIconSearch {
    @include inputAndSearch($colorBorderButtons)
}

.searchIcon,
.searchMyMnemo  {
    border: none;
    outline: none;
    background: none;
}
.searchMyMnemo{
    width: 100%;
    height: 42px;
}
.searchMyMnemo::placeholder {
    color: $colorDimText3;
}
.searchIcon {
    width: 20px;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    margin: 5px 5px 0;
    fill: $colorIconAndPlaceholder;
}
.statisticBox{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 14px;
    color: $colorFont;
    > div {
        display: flex;
        margin: 0 10px;
    }
    .title{
        color: $colorDimText3;
        margin: 0 5px;
    }
}

.userContainer {
    padding: 10px;
    width: 45%;
    margin: 30px auto;
    border-bottom: 1px solid $colorBorderBottom;
}
.engWordBox{
    display: flex;
    align-items: center;
}

.engWord {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: $colorFont;
}
.transcriptionsAudio{
    display: flex;
    margin: 0 5px;
}
.translations {
    display: flex;
    font-size: 15px;
    color: $colorIconAndPlaceholder;
    padding: 0 0 5px;
}
.myMnemonicBox {
    display: flex;
    color: $colorFont;
}
.myMnemonic {
    padding: 5px 0 5px;
    font-size: 22px;
}
.icons{
    display: flex;
    margin-left: auto;
    svg {
        padding: 0 4px;
        width: 17px;
        fill: $colorIconAndPlaceholder;
        &:hover{
            fill: $colorIconHover;
        }
    }
}

.likeCount {
    padding: 0 0 0 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
}
.likeIcon svg {
    fill: $colorIconAndPlaceholder;
}
.likeIcon svg g path {
    fill: $colorIconAndPlaceholder;
}
.iconStyle {
    cursor: pointer;
    fill: $colorIconAndPlaceholder;
}

.myExampleBox{
    display: flex;
    color: $colorFont;
}

.myExample{
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
}

.inputExample textarea {
    margin: 5px 0 10px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: $borderRadius;
    background-color: $inputBackground;
    border-bottom: 1px solid darkgrey;
    font-size: 20px;
    text-align: center;
}
.inputExample textarea::placeholder {
    font-size: 14px;
    font-style: italic;
}


/*Add My Example*/

.addEx{
    position: relative;
    display: flex;
}
.buttonStyle:hover ~ .prompt{
    display: block;
}

.prompt{
    display: none;
    position: absolute;
    text-align: center;
    color: $colorFont;
    top: 3px;
    margin: auto;
    font-size: 12px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    opacity: 0.6;
    left: 45px;
}

.buttonStyle{
    width: 5%;
    cursor: pointer;
    margin: 0 0 0 15px;
    svg {
        fill: $colorIconAndPlaceholder;
        &:hover {
            fill: $colorIconHover;;
        }
    }
}

.closeButtonBox{
    display: flex;
    justify-content: flex-end;
    height: 15px;
    cursor: pointer;
}
.saveButtonStyle {
    @include buttonStyle
}


.addMyExample {
    @include buttonStyle
}


.chooseTranslationHeader {
    margin: 10px 0 5px 0;
    font-size: 14px;
    font-style: italic;
    color: $colorDimText2;
}
.translationSelect {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.translationSelect li {
    display: inline-block;
}
.hasMoreBox {
    display: flex;
    margin: 10px auto 10px;
}

.hasMoreBtn {
    @include buttonStyle;
    width: 10%;
}


//MOBILE
@media all and (max-width: 600px) {
    .user{
        width: 90%;
    }
    .userContainer{
        width: 85%;
    }

    .buttonStyle{
        width: 8%;
    }
    .icons svg {
        width: 20px;
    }
    .inputAndIconSearch{
        z-index: 1;
    }
    .hasMoreBtn {
        @include buttonStyle;
        width: 40%;
    }
}
