.exampleContainer {
    margin: 0 auto;
}
.wordTranslation {
    cursor: pointer;
    margin: 5px 2px;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 15px;
}

.wordTranslation:hover {
    text-decoration: underline;
}
.exampleMnemonic {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
}

.translationPart {
    color: cornflowerblue;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.addExampleBox{
    position: relative;
    display: flex;
    margin: 10px 0 0 0;
}
.addExampleButton:hover ~ .addExample{
    display: block;
}

.addExample{
    display: none;
    position: absolute;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    left: 60px;
    opacity: 0.6;
    top: 5px;
}
.addExampleButton {
    cursor: pointer;
    margin: 0 0 0 20px;
    font-size: 20px;
    background-color: var(--colorThree);
    padding: 5px 11px;
    border-radius: 50%;
}
.addExampleButton:hover {
    background-color: var(--colorTwo);
}
.loadExample{
    margin: 0 auto 10px;
    box-shadow: 0.5px 0.5px 2px 1px lightgrey;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}
.loadExample:hover{
    background-color: var(--colorTwo);
}
.exampleComponent {
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid var(--colorThree);
    margin: 10px 0;
}

.exampleComponent:first-child {
    padding: 0 25px 15px 25px;
    margin: 0;
}
.exampleBox {
    display: flex;
}

.example {
    font-size: 22px;
    text-align: left;
    font-weight: 300;
    /*border-radius: 15px;*/
    /*box-shadow: 10px 10px 5px lightslategray;*/
    /*margin: 0 auto;*/
    /*width: 70%;*/
}
.newExampleSentence {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
}
.createExample {
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.inputNewExample {
    width: 90%;
    margin: 5px auto;
}
.newExampleTextArea {
    width: 100%;
    text-align: center;
    border: none;
    color: black;
    outline: none;
    box-sizing: border-box;
    font-size: 24px;
    border-bottom: 1px solid darkgrey;
    overflow:auto;
}
.newExampleTextArea::placeholder {
    font-size: 14px;
    font-style: italic;
}
.chooseTranslationHeader {
    margin: 10px 0 5px 0;
    font-size: 14px;
    font-style: italic;
    color: #bdbdbd;
}
.translationSelect {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.translationSelect li {
    display: inline-block;
}
.mnemonicSelect {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.mnemonicSelect li {
    display: inline-block;
}
.exampleBottom{
    display: flex;
}
.likeIcons {
    display: flex;
    cursor: pointer;
    margin-left: auto;
    justify-content: end;
    font-size: 10px;
    align-items: flex-start;
}
.likeIcons svg {
    width: 20px;
}

.likeCount {
    font-size: 16px;
    padding: 0 4px;
}

.buttonStyle {
    text-align: center;
    width: 30%;
    margin: 15px auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 5px;
    color: black;
    background-color: var(--colorThree);
    border: 0;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
}

.buttonStyle:hover {
    background-color: var(--colorTwo);
}

.newExample {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    background-color: #cccccc
}
.mnemonicPart {
    font-weight: bold;
    color: rgba(171, 220, 255, 1);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.buttonLike{
    border: 0;
    font-size: 15px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5px 40px ;
}



/* UPDATE EXAMPLE COMPONENT*/
.updateExample {
    margin: 0 auto;
}
/*.closeButtonBox {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    height: 15px;*/
/*}*/
/*.closeButtonBox svg {*/
/*    fill: #666666;*/
/*}*/
/*.closeButtonBox svg:hover {*/
/*    fill: black;*/
/*    cursor: pointer;*/
/*}*/
.updateCheckButton {
    text-align: center;
    width: 30%;
    margin: 15px auto 0 auto;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 5px;
    color: black;
    background-color: var(--colorThree);
    border: 0;
    box-shadow: 1px 1px 2px lightslategray;
    cursor: pointer;
}
.updateCheckButton:hover {
    background-color: #bdbdbd;
}
/* UPDATE EXAMPLE COMPONENT END!*/

@media all and (max-width: 600px) {
    .loadExample{
        width: 30%;
        padding: 10px;
    }
}
