.navbar {
    display: flex;
    justify-content: space-between;
}
.search {
    display: flex;
}

.inputAndIcon{
    position: relative;
    width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px lightsteelblue;

}
.searchInput {
    border: none;
    outline: none;
    background: transparent;
}
.searchInput {
    height: 40px;
    padding-left: 15px;
}
.searchIcon {
    width: 25px;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
    fill: #122B5A;
}

.logo {
    cursor: pointer;
    color: #122B5A;
    margin: 1%;
    width: 200px;
}
.logo svg {
    width: 80%;
}

.nicknameAndLogout {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px 0 0;
    cursor: pointer;
    width: 185px;
}
.nickBox {
    display: flex;
    /*!*background-color: rgba(171, 220, 255, 0.4);*!*/
    /*border-radius: 5px;*/
    /*box-shadow: 0.5px 0.5px 1px 1px lightgrey;*/
    align-items: center;
    color: #122B5A;
    margin: 0 10px;
    padding: 3px 7px;
    font-size: 13px;
}
.nickBox:hover{
    /*color: rgb(144, 211, 255);*/
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px lightgrey;
    /*border-bottom: 1px solid rgb(144, 211, 255);*/
}
.userIcon {
    align-items: center;
    margin: 0 0 0 5px;
    width: 20px;
}
.userIcon svg {
    width: 100%;
    display: flex;
    vertical-align: center;
}
.logText{
    font-size: 13px;
    color: #122B5A;
    display: flex;
    align-items:  center;
    padding: 1px 5px;
}
.logText:hover{
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px lightgrey;
    /*color: rgb(144, 211, 255);*/
    /*border-bottom: 1px solid rgb(144, 211, 255);*/
}
.logIcon {
    padding: 2px;
    width: 20px;
}
.logIcon svg{
    fill: #122B5A;
    display: flex;
    vertical-align:  center;
}