@import "../common.module";
@import "./navbar.module";

.navbar {
    display: block;
    justify-content: space-between;
}
.logoAndBurger{
    display: flex;
    justify-content: space-between;
}
.search {
    margin: auto;
}
.logo {
    color: $colorFont;
    margin: 10px;
    width: 50%;
    display: flex;
    justify-content: start;
}
.logo svg {
    width: 150px;
}
.theme{
    display: flex;
    margin: auto;
}
.themeText{
    display: flex;
    margin: 0 5px 0 0;
    color: $colorFont;
    align-items: center;
    font-size: 13px;
}
.vocabularyBox{
    display: flex;
    margin: auto;
    align-items: center;
}
.navbarIcon{
    align-items: center;
    //margin: 0 5px 0 0;
    width: 20px;
    svg {
        width: 100%;
        //display: flex;
        //vertical-align: center;
        fill: $colorFont;
    }
}
.burger{
    position: relative;
    fill: $colorHighlightMnemo;
    display: flex;
    justify-content: end;
    width: 10%;
    //margin-left: auto;
    padding: 10px 10px 10px 0;
}
.burger svg {
    width: 40px;
}
.userIcon {
    align-items: center;
    margin: 0 0 0 5px;
    width: 20px;
}
.userIcon svg {
    width: 100%;
    display: flex;
    vertical-align: center;
    fill: $colorFont;
}
.logText{
    font-size: 13px;
    color: $colorFont;
    display: flex;
    align-items:  center;
    padding: 1px 5px;
}
.logText:hover{
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px 1px $colorBorderButtons;
}
.logIcon {
    padding: 2px;
    width: 20px;
}
.logIcon svg{
    fill: $colorFont;
    display: flex;
    vertical-align:  center;
}
.readeToPractice{
    @extend .readeToPractice,
}