@import "../common.module";

@mixin box {
    display: flex;
    align-items: center;
    color: $colorBlueFive;
    margin: 0 5px;
    padding: 3px 7px;
    font-size: 13px;
    &:hover{
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 1px 1px $colorGreyOne;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.search {
    display: flex;
}
.inputAndIcon{
    position: relative;
    width: 400px;
    margin: 20px auto;
    box-shadow: 0.5px 0.5px 1px 1px lightsteelblue;
}
.inputAndIconBorder {
    border-radius: 10px;
}
.inputAndIconBorderFocus{
    border-radius: 10px 10px 0 0;
}
.searchInput {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    height: 40px;
    padding-left: 15px;

}
.searchIcon {
    width: 25px;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
    fill: $colorBlueFive;
}
.suggestions{
    z-index: 2;
    position: absolute;
    background-color: white;
    cursor: pointer;
    margin: 2px 0 0 0;
    width: 100%;
    box-shadow: 0.5px 0.5px 1px 1px lightsteelblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.suggestion:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.suggestion{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
        &:hover{
            background-color: $colorBlueTwo;
        }
}
.highlightSuggestion {
    background-color: $colorBlueTwo;
}

.logo {
    cursor: pointer;
    color: $colorBlueFive;
    margin: 1%;
    width: 15%;
        svg {
        width: 80%;
    }
}

.nicknameAndLogout {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 15px 0 0;
    cursor: pointer;
    width: 15%;
}

.Box {
   @include box
}

.navbarIcon {
    align-items: center;
    margin: 0 5px 0 0;
    width: 20px;
    svg {
        width: 100%;
        display: flex;
        vertical-align: center;
        fill: $colorBlueFive;
    }
}

.logText{
    font-size: 13px;
    color: $colorBlueFive;
    display: flex;
    align-items:  center;
    padding: 1px 5px;
    &:hover{
        border-radius: 5px;
        box-shadow: 0.5px 0.5px 1px 1px $colorGreyOne;
    }
}

.logIcon {
    padding: 2px;
    width: 20px;
    svg{
        fill: $colorBlueFive;
        display: flex;
        vertical-align:  center;
    }
}

.modalList{
    position: absolute;
    right: 15px;
    top: 60px;
    width: 15%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px $colorGreyOne;
}
.listStyle{
    display: flex;
    cursor: pointer;
     li {
        padding: 10px;
        list-style: none;
        font-size: 13px;
        &:hover{
            background-color: $colorBlueOne
        }
    }
}


.icon{
    display: flex;
    margin: 0 0 0 15px;
    width: 10%;
    fill: $colorBlueFive;
}



@media all and (max-width: 600px) {
    .inputAndIcon {
        width: 300px;
        margin: 5px auto;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid $colorGreyOne;
    }
    .logo{
        width: 25%;
    }
    .nicknameAndLogout {
        width: 25%;
        display: block;
        margin: 20px 0 0 0;
    }
    .modalList{
        width: 80%;
        background-color: white;
        top: 65px;
        z-index: 3;
        li {
            padding: 10px;
            list-style: none;
            margin: 20px 10px;
            font-size: 18px;
            color: $colorBlueFive;
        }
    }

}

