.navbar {
    width: 99%;
    display: flex;
    background-color: rgba(171, 220, 255, 0.4);
    height: 80px;
    border-radius: 15px;
    margin: 0.5%;
    /*box-shadow: 1px 1px 7px 0.5px lightslategray;*/
}
.search {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
/*@media (width: 720px) {*/
/*    .search {width: 40%;}*/
/*}*/

.inputAndIcon {
    position: relative;
    width: 500px;
    margin: 10px auto;
    background: white;
    border-radius: 10px;
    /*box-shadow: 0.5px 0.5px 2px 0.5px #122B5A;*/
}
.searchInput,
.searchIcon {
    border: none;
    outline: none;
    background: transparent;
}
.searchInput {
    width: 100%;
    height: 42px;
    padding-left: 15px;


}
.searchIcon {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 5px 5px 0;
    fill: #122B5A;
}
.nickname {
    font-size: 13px;
    color: #122B5A;
    line-height: 80px;
}

.logo {
    width: 10%;
    padding: 0 20px;
    cursor: pointer;
    color: #122B5A;
    display: flex;
    line-height: 80px;
}

.logout {
    width: 10%;
    display: flex;
}
.logoutLoginIcon {
    cursor: pointer;
    display: flex;
    margin-left: auto;
}
.logoutLoginIcon svg {
    padding: 0 20px;
    width: 25px;
    fill: #122B5A;
}
/*.logo svg {*/

/*    width: 50px;*/
/*}*/


.profile svg {
    padding: 0 15px;
    width: 50px;
}