body {
    font-family:  'MyFont', 'Grill Sans', serif;
    margin: 0;
}
textarea {
    font-family: 'MyFont', 'Grill Sans', serif;
}
input {
    font-family: 'MyFont', 'Grill Sans', serif;
}
@font-face {
    font-family: 'MyFont';
    font-weight: 300;
    src: local('MyFont'), url(./import/Merriweather-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'MyFont';
    font-weight: 400;
    src: local('MyFont'), url(./import/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
font-family: 'MyFont';
    font-weight: 700;
    src: local('MyFont'), url(./import/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'MyFont';
    font-weight: 900;
    src: local('MyFont'), url(./import/Merriweather-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'MyFont';
    font-style: italic;
    src: local('MyFont'), url(./import/Merriweather-Italic.ttf) format('truetype');
}

:root {
    --colorOne: #e6f7ff;
    --colorTwo: #cdefff;
    /*--colorThree: #29b8de;*/
    --colorThree: #b3e7ff;
    --colorFour: #9adfff;
    --colorFive: #122B5A;
}