body {
    font-family:  'MyFont', 'Grill Sans', serif;
    margin: 0;
}
textarea {
    font-family: 'MyFont', 'Grill Sans', serif;
}
@font-face {
    font-family: 'MyFont';
    font-weight: 300;
    src: local('MyFont'), url(./import/Merriweather-Light.ttf) format('truetype');
}


@font-face {
    font-family: 'MyFont';
    font-weight: 500;
    src: local('MyFont'), url(./import/Merriweather-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'MyFont';
    font-weight: 700;
    src: local('MyFont'), url(./import/Merriweather-Bold.ttf) format('truetype');
}


@font-face {
    font-family: 'MyFont';
    font-style: italic;
    src: local('MyFont'), url(./import/Merriweather-Italic.ttf) format('truetype');
}
